* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  color: #606060;
  margin-bottom: 2rem;
}
.header__pictures {
  width: 100%;
  height: 100%;

}
.header__pic {
  margin: none;
  height: 50%;
  width: 16.667%;
  float: left;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 45vw;
  font-size: 1.25rem;
}
nav ul li {
  font-family: "Arial", "Helvetica", "sans-serif";
}
li {
  list-style: none;
}
.main__action__button {
  background-color: #00688B;
  font-size: 1.25rem;
  color: white;
  padding: 1.3rem;
  border-radius: 5px;
}
.hotdog__type__text {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;

}
.hotdog__type__text__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdash{
  color: #00688B;
  font-size: 2rem;
  font-weight: bolder;
  margin-right: 1rem;
  float: left;
  align-self: flex-start;
}
.hotdog__text h2 {
  font-weight: bolder;
  margin-top: .5rem;
  margin-bottom: 2rem;
}
.hotdog__text p {
  color: gray;
}
.hotdog__text {
  width: 70%;
}
.hotdog__type__picture {
  min-width: 400px;
  width: 50%;
}
.hotdog__type__picture img {
  width: 100%;
  height: 100%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 100%;
}
.footer__left {
  margin-left: 1rem;
}
.footer__right ul {
  display: flex;
}
.footer__right li {
  margin-right: 1rem;
}
