* {
  margin: 0;
}
.header__pictures {
  width: 100%;
  height: 100%;

}
.header__pic {
  margin: none;
  height: 50%;
  width: 16.667%;
  float: left;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 50vw;
}
li {
  list-style: none;
}
.hotdog__type__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.hotdog__type__picture {
  width: 50%;
}
.hotdog__type__picture img {
  width: 100%;
  height: 100%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 100%;
}
.footer__left {
  margin-left: 1rem;
}
.footer__right ul {
  display: flex;
}
.footer__right li {
  margin-right: 1rem;
}
